Exemplos/ACBrDFe/Schemas/Reinf/evt4020PagtoBeneficiarioPJ-v2_01_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.reinf.esocial.gov.br/schemas/evt4020PagtoBeneficiarioPJ/v2_01_02" targetNamespace="http://www.reinf.esocial.gov.br/schemas/evt4020PagtoBeneficiarioPJ/v2_01_02" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="./xmldsig-core-schema.xsd"/>
  <xs:element name="Reinf">
    <xs:annotation>
      <xs:documentation>Escrituracao Fiscal Digital de Retencoes e Outras Informacoes Fiscais (EFD-Reinf)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtRetPJ" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Evento retencoes na fonte PJ</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes de identificacao do evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetif" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Indicativo de Retificacao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Recibo arquivo a ser retificado</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="52"/>
                          <xs:pattern value="[0-9]{1,18}[-][0-9]{2}[-][0-9]{4}[-][0-9]{4}[-][0-9]{1,18}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="perApur" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Periodo de apuracao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:gYearMonth">
                          <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de ambiente</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="procEmi" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Processo de emissao do evento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verProc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Versao do processo de emissao do evento. </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideContri" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes de identificacao do contribuinte</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpInsc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de Inscricao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrInsc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Numero de Inscricao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9]{8}|[0-9]{11}|[0-9]{14}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoComplContri" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Informacoes complementares do contribuinte</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="natJur" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Natureza juridica do declarante</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:pattern value="\d{4}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideEstab" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes de identificacao do estabelecimento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpInscEstab" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de inscricao do estabelecimento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2|3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrInscEstab" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Numero de inscricao do estabelecimento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9]{11}|[0-9]{14}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ideBenef" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Identificacao do beneficiario do rendimento</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cnpjBenef" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>CNPJ do beneficiario</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nmBenef" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Nome do beneficiario</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="70"/>
                                <xs:whiteSpace value="preserve"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="isenImun" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Informacoes sobre isencao e imunidade</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:pattern value="2|3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ideEvtAdic" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Identificador de evento adicional por beneficiario, a criterio do declarante.</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="8"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="idePgto" minOccurs="1" maxOccurs="100">
                            <xs:annotation>
                              <xs:documentation>Identificacao do rendimento</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="natRend" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Natureza do Rendimento</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{5}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="observ" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Observacoes</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="200"/>
                                      <xs:whiteSpace value="preserve"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infoPgto" minOccurs="1" maxOccurs="999">
                                  <xs:annotation>
                                    <xs:documentation>Informacoes relativas ao pagamento</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="dtFG" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Data do pagamento.</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:date">
                                            <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrBruto" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Valor bruto</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="15"/>
                                            <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="indFciScp" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Indicativo de FCI ou SCP</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedByte">
                                            <xs:pattern value="1|2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrInscFciScp" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>CNPJ do FCI ou SCP</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{14}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="percSCP" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Percentual de participacao na SCP</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="(([0-9]|[1-9][0-9])[,][0-9])|100,0"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="indJud" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Indicativo de rendimento oriundo de decisao judicial</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="S|N"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="paisResidExt" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Codigo do Pais</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{3}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="dtEscrCont" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Data da escrituracao contabil referente ao IRRF dos juros sobre capital proprio informada no evento R-4040.</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:date">
                                            <xs:pattern value="20[0-9]{2}-[0-1][0-9]-[0-3][0-9]"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="observ" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Observacoes</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="200"/>
                                            <xs:whiteSpace value="preserve"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="retencoes" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Informacoes relativas a retencoes na fonte</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="vlrBaseIR" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base do IR</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrIR" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da retencao do IR</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseAgreg" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base retencoes agregadas</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrAgreg" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor retencao de tributos em valor agregado</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseCSLL" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base da CSLL</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrCSLL" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Retencao CSLL</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseCofins" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base Cofins</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrCofins" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor Cofins</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBasePP" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base do PIS/PASEP</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrPP" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Retencao do PIS/PASEP</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="infoProcRet" minOccurs="0" maxOccurs="50">
                                        <xs:annotation>
                                          <xs:documentation>Processos relacionados a nao retencao de tributos</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="tpProcRet" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Tipo de Processo</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:unsignedByte">
                                                  <xs:pattern value="1|2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="nrProcRet" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Numero do Processo</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="21"/>
                                                  <xs:pattern value="[0-9]{1,21}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="codSusp" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Codigo do indicativo da suspensao</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="[0-9]{1,14}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseSuspIR" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base do IR com exigibilidade suspensa</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrNIR" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor nao retido de IR</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrDepIR" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor do deposito judicial de IR</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseSuspCSLL" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base CSLL suspenso</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrNCSLL" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor CSLL nao retido</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrDepCSLL" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor deposito judicial de CSLL</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseSuspCofins" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base Cofins com exibilidade suspensa</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrNCofins" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da retencao Cofins que deixou de ser efetuada</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrDepCofins" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor deposito judicial de Cofins</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrBaseSuspPP" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor da base do PIS/PASEP com exigibilidade suspensa</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrNPP" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor do PIS/PASEP nao retido</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vlrDepPP" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Valor deposito judicial de PIS/PASEP</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="infoProcJud" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Informacoes complementares relativas a rendimentos decorrentes de decisao judicial</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="nrProc" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Numero do Processo</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="21"/>
                                                  <xs:pattern value="[0-9]{1,21}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="indOrigRec" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Indicativo de origem dos recursos</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:unsignedByte">
                                                  <xs:pattern value="1|2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="cnpjOrigRecurso" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>CNPJ da empresa que repassou os recursos</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{14}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="desc" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Descricao</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="50"/>
                                                  <xs:whiteSpace value="preserve"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="despProcJud" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Despesas com processo judicial</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="vlrDespCustas" minOccurs="1" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Valor da despesa com custas judiciais</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="4"/>
                                                        <xs:maxLength value="15"/>
                                                        <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vlrDespAdvogados" minOccurs="1" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Valor da despesa com advogado(s)</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="4"/>
                                                        <xs:maxLength value="15"/>
                                                        <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="ideAdv" minOccurs="0" maxOccurs="99">
                                                    <xs:annotation>
                                                      <xs:documentation>Identificacao do advogado</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="tpInscAdv" minOccurs="1" maxOccurs="1">
                                                          <xs:annotation>
                                                            <xs:documentation>Tipo de inscricao do advogado</xs:documentation>
                                                          </xs:annotation>
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:unsignedByte">
                                                              <xs:pattern value="1|2"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="nrInscAdv" minOccurs="1" maxOccurs="1">
                                                          <xs:annotation>
                                                            <xs:documentation>Informar o numero de inscricao do advogado</xs:documentation>
                                                          </xs:annotation>
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:pattern value="[0-9]{11}|[0-9]{14}"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="vlrAdv" minOccurs="0" maxOccurs="1">
                                                          <xs:annotation>
                                                            <xs:documentation>Valor da despesa com o advogado</xs:documentation>
                                                          </xs:annotation>
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:maxLength value="15"/>
                                                              <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="infoPgtoExt" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Informacoes complementares relativas a pagamentos no Exterior</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="indNIF" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Indicativo do preenchimento do NIF</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:unsignedByte">
                                                  <xs:pattern value="1|2|3"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="nifBenef" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>NIF do beneficiario</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="30"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="relFontPg" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Relacao da fonte pagadora PJ e beneficiario</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:pattern value="\d{3}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="frmTribut" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Forma de tributacao</xs:documentation>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="[0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="endExt" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Endereco do beneficiario residente ou domiciliado no exterior</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="dscLograd" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Descricao do logradouro</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:maxLength value="80"/>
                                                        <xs:whiteSpace value="preserve"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="nrLograd" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Numero do imovel no logradouro</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:maxLength value="10"/>
                                                        <xs:whiteSpace value="preserve"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="complem" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Complemento</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:maxLength value="30"/>
                                                        <xs:whiteSpace value="preserve"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="bairro" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Nome do bairro/distrito</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:maxLength value="60"/>
                                                        <xs:whiteSpace value="preserve"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="cidade" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Nome da cidade</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:maxLength value="40"/>
                                                        <xs:whiteSpace value="preserve"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="estado" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Nome da provincia/estado</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:maxLength value="40"/>
                                                        <xs:whiteSpace value="preserve"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="codPostal" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>CEP</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{4,12}"/>
                                                        <xs:whiteSpace value="preserve"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="telef" minOccurs="0" maxOccurs="1">
                                                    <xs:annotation>
                                                      <xs:documentation>Telefone</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="[0-9]{0,15}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required">
              <xs:annotation>
                <xs:documentation>Identificacao unica do evento</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:length value="36"/>
                  <xs:pattern value="I{1}D{1}[0-9]{34}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
