Exemplos/ACBrDFe/Schemas/Reinf/evtEspDesportivo-v2_01_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.reinf.esocial.gov.br/schemas/evtEspDesportivo/v2_01_02" targetNamespace="http://www.reinf.esocial.gov.br/schemas/evtEspDesportivo/v2_01_02" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="./xmldsig-core-schema.xsd"/>
  <xs:element name="Reinf">
    <xs:annotation>
      <xs:documentation>Escrituracao Fiscal Digital de Retencoes e Outras Informacoes Fiscais (EFD-Reinf)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtEspDesportivo" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Evento espetaculo desportivo</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes de identificacao do evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indRetif" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Indicativo de Retificacao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecibo" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Recibo arquivo a ser retificado</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="16"/>
                          <xs:maxLength value="52"/>
                          <xs:pattern value="[0-9]{1,18}[-][0-9]{2}[-][0-9]{4}[-][0-9]{6}[-][0-9]{1,18}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dtApuracao" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Data de realizacao do espetaculo desportivo.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:date">
                          <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de ambiente</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="procEmi" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Processo de emissao do evento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verProc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Versao do processo de emissao do evento. </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideContri" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes de identificacao da entidade promotora do espetaculo desportivo</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpInsc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de Inscricao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="[1]"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrInsc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Numero de Inscricao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9]{8}|[0-9]{14}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ideEstab" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Identificacao do estabelecimento </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpInscEstab" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Tipo de inscricao do estabelecimento</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:pattern value="[1]"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrInscEstab" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Numero de inscricao do estabelecimento</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[0-9]{14}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="boletim" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Boletim do espetaculo desportivo</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nrBoletim" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Numero do boletim relativo ao espetaculo desportivo.</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="7"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="tpCompeticao" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Tipo de competicao.</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:pattern value="1|2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="categEvento" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Categoria do evento</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:pattern value="1|2|3|4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="modDesportiva" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Descricao da modalidade do evento desportivo </xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                      <xs:whiteSpace value="preserve"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nomeCompeticao" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Nome da competicao</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                      <xs:whiteSpace value="preserve"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="cnpjMandante" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Numero de inscricao do clube mandante no CNPJ</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="cnpjVisitante" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Numero de Inscricao do Clube Visitante no CNPJ.</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nomeVisitante" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Nome do clube visitante</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="80"/>
                                      <xs:whiteSpace value="preserve"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="pracaDesportiva" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Praca desportiva do local do evento</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="100"/>
                                      <xs:whiteSpace value="preserve"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codMunic" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Codigo do Municipio</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:pattern value="\d{7}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="uf" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Sigla da UF</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="2"/>
                                      <xs:pattern value="AC|AL|AP|AM|BA|CE|DF|ES|GO|MA|MT|MS|MG|PA|PB|PR|PE|PI|RJ|RN|RS|RO|RR|SC|SP|SE|TO"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdePagantes" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Qtde de espectadores pagantes do evento</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedInt">
                                      <xs:pattern value="[0-9]{1,6}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdeNaoPagantes" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Qtde de espectadores nao pagantes do evento</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedInt">
                                      <xs:pattern value="[0-9]{1,6}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="receitaIngressos" minOccurs="1" maxOccurs="999">
                                  <xs:annotation>
                                    <xs:documentation>Receita da venda de ingressos</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tpIngresso" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Tipo de Ingresso</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedByte">
                                            <xs:pattern value="1|2|3|4"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="descIngr" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Descricao do tipo de ingresso</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="2"/>
                                            <xs:maxLength value="30"/>
                                            <xs:whiteSpace value="preserve"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="qtdeIngrVenda" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Numero de ingressos colocados a venda</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:pattern value="[0-9]{1,6}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="qtdeIngrVendidos" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Numero de ingressos vendidos</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:pattern value="[0-9]{1,6}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="qtdeIngrDev" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Numero de ingressos devolvidos</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedInt">
                                            <xs:pattern value="[0-9]{1,6}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="precoIndiv" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Preco individual do ingresso</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="15"/>
                                            <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrTotal" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Valor total arrecadado</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="15"/>
                                            <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="outrasReceitas" minOccurs="0" maxOccurs="999">
                                  <xs:annotation>
                                    <xs:documentation>Outras receitas do espetaculo desportivo</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tpReceita" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Tipo de Receita</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedByte">
                                            <xs:pattern value="1|2|3|4|5"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrReceita" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Valor da receita auferida</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="15"/>
                                            <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="descReceita" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Descricao da receita</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="2"/>
                                            <xs:maxLength value="20"/>
                                            <xs:whiteSpace value="preserve"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="receitaTotal" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Totalizacao da receita de espetaculos desportivos</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="vlrReceitaTotal" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor da receita bruta total</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="15"/>
                                      <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrCP" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor da contribuicao previdenciaria</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="15"/>
                                      <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrCPSuspTotal" minOccurs="0" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor da contribuicao previdenciaria com exigibilidade suspensa</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="15"/>
                                      <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrReceitaClubes" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor total da receita destinada aos clubes participantes</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="15"/>
                                      <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrRetParc" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Valor retido do clube para a amortizacao do parcelamento especial da Lei 8.641/93</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="4"/>
                                      <xs:maxLength value="15"/>
                                      <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infoProc" minOccurs="0" maxOccurs="50">
                                  <xs:annotation>
                                    <xs:documentation>Informacoes de processos</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tpProc" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Tipo de Processo</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:unsignedByte">
                                            <xs:pattern value="1|2"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrProc" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Numero do Processo</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="3"/>
                                            <xs:maxLength value="21"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="codSusp" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Codigo do indicativo da suspensao</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="[0-9]{1,14}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vlrCPSusp" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                          <xs:documentation>Valor da Contribuicao Previdenciaria com exigibilidade suspensa</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="4"/>
                                            <xs:maxLength value="15"/>
                                            <xs:pattern value="[0-9]{1,12}[,][0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required">
              <xs:annotation>
                <xs:documentation>Identificacao unica do evento</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:length value="36"/>
                  <xs:pattern value="I{1}D{1}[0-9]{34}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
