Exemplos/ACBrDFe/Schemas/Reinf/evtInfoContribuinte-v2_01_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.reinf.esocial.gov.br/schemas/evtInfoContribuinte/v2_01_02" targetNamespace="http://www.reinf.esocial.gov.br/schemas/evtInfoContribuinte/v2_01_02" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="./xmldsig-core-schema.xsd"/>
  <xs:element name="Reinf">
    <xs:annotation>
      <xs:documentation>Escrituracao Fiscal Digital de Retencoes e Outras Informacoes Fiscais (EFD-Reinf)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtInfoContri" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Evento de informacoes do contribuinte</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes de identificacao do evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de ambiente</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="procEmi" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Processo de emissao do evento</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verProc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Versao do processo de emissao do evento. </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideContri" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes de identificacao do contribuinte</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpInsc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Tipo de Inscricao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:pattern value="1|2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrInsc" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Numero de Inscricao</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[0-9]{8}|[0-9]{11}|[0-9]{14}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoContri" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Informacoes do contribuinte</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice minOccurs="1" maxOccurs="1">
                      <xs:element name="inclusao" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                          <xs:documentation>Inclusao de novas informacoes</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" minOccurs="1" maxOccurs="1">
                              <xs:annotation>
                                <xs:documentation>Periodo de validade das informacoes incluidas</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="iniValid" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Inicio da validade (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="fimValid" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Periodo final da validade, no formato (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="infoCadastro" minOccurs="1" maxOccurs="1">
                              <xs:annotation>
                                <xs:documentation>Informacoes do contribuinte</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="classTrib" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Enquadramento do contribuinte</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indEscrituracao" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Indicativo da obrigatoriedade do contribuinte em fazer a sua escrituracao contabil na ECD</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indDesoneracao" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de desoneracao da folha pela CPRB </xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indAcordoIsenMulta" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Acordo internacional para isencao de multa</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indSitPJ" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Situacao da PJ</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1|2|3|4"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indUniao" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de entidade vinculada a Uniao</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtTransfFinsLucr" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Data de transformacao em sociedade com fins lucrativos</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtObito" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Data do obito do contribuinte</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:date">
                                        <xs:pattern value="(19|20)[0-9]{2}-(0[1-9]|1[0-2])-[0-3][0-9]"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="contato" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Informacoes de contato</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="nmCtt" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Nome do contato</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="70"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cpfCtt" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Numero de Inscricao no CPF</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="\d{11}"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="foneFixo" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Numero do telefone, com DDD.</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="13"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="foneCel" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Telefone celular, com DDD.</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="13"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Endereco eletronico</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="60"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="softHouse" minOccurs="0" maxOccurs="99">
                                    <xs:annotation>
                                      <xs:documentation>Informacoes da empresa desenvolvedora da aplicacao que gera os arquivos</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="cnpjSoftHouse" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>CNPJ da Software House</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="\d{14}"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nmRazao" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Nome ou razao social</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="115"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nmCont" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Nome do contato</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="70"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="telefone" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Numero do telefone com DDD</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="13"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Endereco eletronico</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="60"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="infoEFR" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Informacoes da Administracao Publica relativas a EFR</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="ideEFR" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>EFR</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="S|N"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cnpjEFR" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>CNPJ</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="\d{14}"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alteracao" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                          <xs:documentation>Alteracao de informacoes</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" minOccurs="1" maxOccurs="1">
                              <xs:annotation>
                                <xs:documentation>Periodo de validade das informacoes alteradas</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="iniValid" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Inicio da validade (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="fimValid" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Periodo final da validade, no formato (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="infoCadastro" minOccurs="1" maxOccurs="1">
                              <xs:annotation>
                                <xs:documentation>Informacoes do contribuinte</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="classTrib" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Enquadramento do contribuinte</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indEscrituracao" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Indicativo da obrigatoriedade do contribuinte em fazer a sua escrituracao contabil na ECD</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indDesoneracao" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de desoneracao da folha pela CPRB </xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indAcordoIsenMulta" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Acordo internacional para isencao de multa</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indSitPJ" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Situacao da PJ</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1|2|3|4"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="indUniao" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de entidade vinculada a Uniao</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:unsignedByte">
                                        <xs:pattern value="0|1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtTransfFinsLucr" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Data de transformacao em sociedade com fins lucrativos</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="dtObito" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Data do obito do contribuinte</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:date">
                                        <xs:pattern value="(19|20)[0-9]{2}-(0[1-9]|1[0-2])-[0-3][0-9]"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="contato" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Informacoes de contato</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="nmCtt" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Nome do contato</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="70"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cpfCtt" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Numero de Inscricao no CPF</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="\d{11}"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="foneFixo" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Numero do telefone, com DDD.</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="13"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="foneCel" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Telefone celular, com DDD.</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="13"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Endereco eletronico</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="60"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="softHouse" minOccurs="0" maxOccurs="99">
                                    <xs:annotation>
                                      <xs:documentation>Informacoes da empresa desenvolvedora da aplicacao que gera os arquivos</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="cnpjSoftHouse" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>CNPJ da Software House</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="\d{14}"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nmRazao" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Nome ou razao social</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="115"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nmCont" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Nome do contato</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1"/>
                                              <xs:maxLength value="70"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="telefone" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Numero do telefone com DDD</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="13"/>
                                              <xs:whiteSpace value="preserve"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>Endereco eletronico</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:maxLength value="60"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="infoEFR" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Informacoes da Administracao Publica relativas a EFR</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="ideEFR" minOccurs="1" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>EFR</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="S|N"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cnpjEFR" minOccurs="0" maxOccurs="1">
                                          <xs:annotation>
                                            <xs:documentation>CNPJ</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:pattern value="\d{14}"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="novaValidade" minOccurs="0" maxOccurs="1">
                              <xs:annotation>
                                <xs:documentation>Novo periodo de validade das informacoes que estao sendo alteradas</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="iniValid" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Inicio da validade (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="fimValid" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Periodo final da validade, no formato (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="exclusao" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                          <xs:documentation>Exclusao de informacoes</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" minOccurs="1" maxOccurs="1">
                              <xs:annotation>
                                <xs:documentation>Periodo de validade das informacoes excluidas</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="iniValid" minOccurs="1" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Inicio da validade (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="fimValid" minOccurs="0" maxOccurs="1">
                                    <xs:annotation>
                                      <xs:documentation>Periodo final da validade, no formato (AAAA-MM)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:gYearMonth">
                                        <xs:pattern value="20([1-9][0-9])-(0[1-9]|1[0-2])"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required">
              <xs:annotation>
                <xs:documentation>Identificacao unica do evento</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:length value="36"/>
                  <xs:pattern value="I{1}D{1}[0-9]{34}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
