Exemplos/ACBrDFe/ACBrNFSe/Schemas/WebISS/servico_consultar_lote_rps_envio.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.abrasf.org.br/nfse" targetNamespace="http://www.abrasf.org.br/nfse" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="tipos_complexos.xsd"/>
	<xsd:element name="ConsultarLoteRpsEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Prestador" type="tcIdentificacaoPrestador"/>
				<xsd:element name="Protocolo" type="tsNumeroProtocolo"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
