Exemplos/ACBrSAT/Schemas/CfeDadosVendaSAT_0008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--  <xs:element name="envCFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\d"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="idLote" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\d{1,15}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cUF" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\d{2}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LoteCFe" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence> -->
              <xs:element name="CFe"> <!--minOccurs="1" maxOccurs="50"> -->
                <xs:complexType>
                  <xs:sequence>
                    <!--Grupo A-->
                    <xs:element name="infCFe" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <!--Grupo B-->
                          <xs:element name="ide" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cUF" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="cNF" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{6}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="mod" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nserieSAT" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{9}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nCFe" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value = "\d{6}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="dEmi" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{8}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="hEmi" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{6}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="cDV" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="signAC" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="344"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="assinaturaQRCODE" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="344"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="numeroCaixa" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{3}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!--Grupo C-->
                          <xs:element name="emit" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CNPJ" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{14}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="xNome" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="xFant" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="enderEmit" minOccurs="1" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="xLgr" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="2"/>
                                            <xs:maxLength value="60"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nro" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="60"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="xCpl" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="60"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="xBairro" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="2"/>
                                            <xs:maxLength value="60"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="xMun" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="2"/>
                                            <xs:maxLength value="60"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="CEP" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{8}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="IE" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="14"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="IM" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="15"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="cRegTrib" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="cRegTribISSQN" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{1}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="indRatISSQN" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!--Grupo E-->
                          <xs:element name="dest" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice>
                                  <xs:element name="CNPJ" minOccurs="0" maxOccurs="1">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{14}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="CPF" minOccurs="0" maxOccurs="1">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{11}"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:choice>
                                <xs:element name="xNome" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!--Grupo G-->
                          <xs:element name="entrega" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="xLgr" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="nro" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="xCpl" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="xBairro" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="xMun" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="2"/>
                                      <xs:maxLength value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="UF" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="2" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!--Grupo H-->
                          <xs:element name="det" minOccurs="1" maxOccurs="500">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="prod" minOccurs="1" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cProd" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="60"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="cEAN" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value=".{8}|.{12}|.{13}|.{14}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="xProd" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="120"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="NCM" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value=".{2}|.{8}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                       <xs:element name="CEST" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{7}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="CFOP" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{4}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="uCom" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="6"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="qCom" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,11}[.]{1}[0-9]{4}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vUnCom" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,12}[.]{1}[0-9]{2,3}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vProd" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="indRegra" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:length value="1"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vDesc" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vOutro" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vItem" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vRatDesc" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vRatAcr" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="obsFiscoDet" minOccurs="0" maxOccurs="10">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="xTextoDet" minOccurs="1" maxOccurs="1">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="60"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="xCampoDet" use="required" >
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="20"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <!--Grupo M-->
                                <xs:element name="imposto" minOccurs="1" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="vItem12741" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:choice minOccurs="1" maxOccurs="1">
                                        <!--Grupo N-->
                                        <xs:element name="ICMS">
                                          <xs:complexType>
                                            <xs:choice>
                                              <xs:element name="ICMS00" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Orig" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{2}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="pICMS" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{1,3}[.]{1}[0-9]{2}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="vICMS" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="ICMS40" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Orig" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{2}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="ICMSSN102" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Orig" minOccurs="1" maxOccurs="1" >
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="CSOSN" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{3}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="ICMSSN900" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Orig" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="CSOSN" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{3}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="pICMS" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{1,3}[.]{1}[0-9]{2}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="vICMS" minOccurs="1" maxOccurs="1">
                                                      <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                          <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                        </xs:restriction>
                                                      </xs:simpleType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:choice>
                                          </xs:complexType>
                                        </xs:element>
                                        <!--Grupo U-->
                                        <xs:element name="ISSQN">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="vDeducISSQN" minOccurs="1" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="vBC" minOccurs="1" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="vAliq" minOccurs="1" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{3}[.]{1}[0-9]{2}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="vISSQN" minOccurs="1" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="cMunFG" minOccurs="0" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{7}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="cListServ" minOccurs="0" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:length value="5"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="cServTribMun" minOccurs="0" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:length value="20"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="cNatOp" minOccurs="1" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d{2}"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="indIncFisc" minOccurs="1" maxOccurs="1">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:pattern value="\d*[1-2]"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:choice>
                                      <!--Grupo Q-->
                                      <xs:element name="PIS" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:choice>
                                            <xs:element name="PISAliq" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vBC" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="pPIS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1}[.]{1}[0-9]{4}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vPIS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="PISQtde" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="qBCProd" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,12}[.]{1}[0-9]{4}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vAliqProd" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,11}[.]{1}[0-9]{4}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vPIS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="PISNT" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="PISSN" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1" >
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="PISOutr" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1" >
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:choice minOccurs="1" maxOccurs="1">
                                                    <xs:choice minOccurs="2" maxOccurs="2">
                                                      <xs:element name="vBC" minOccurs="0" maxOccurs="1" >
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                          </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="pPIS" minOccurs="0" maxOccurs="1" >
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1}[.]{1}[0-9]{4}"/>
                                                          </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                    </xs:choice>
                                                    <xs:choice minOccurs="2" maxOccurs="2">
                                                      <xs:element name="qBCProd" minOccurs="0" maxOccurs="1">
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1,12}[.]{1}[0-9]{4}"/>
                                                          </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="vAliqProd" minOccurs="0" maxOccurs="1">
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1,11}[.]{1}[0-9]{4}"/>
							    </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                    </xs:choice>
                                                  </xs:choice>
                                                  <xs:element name="vPIS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                      <!--Grupo R-->
                                      <xs:element name="PISST" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:choice minOccurs="1" maxOccurs="1">
                                              <xs:choice minOccurs="2" maxOccurs="2">
                                                <xs:element name="vBC" minOccurs="0" maxOccurs="1" >
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="pPIS" minOccurs="0" maxOccurs="1" >
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1}[.]{1}[0-9]{4}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                              </xs:choice>
                                              <xs:choice minOccurs="2" maxOccurs="2">
                                                <xs:element name="qBCProd" minOccurs="0" maxOccurs="1" >
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1,12}[.]{1}[0-9]{4}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="vAliqProd" minOccurs="0" maxOccurs="1" >
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1,11}[.]{1}[0-9]{4}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                              </xs:choice>
                                            </xs:choice>
                                            <xs:element name="vPIS" minOccurs="1" maxOccurs="1">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{1,13}\.\d{1,2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>                                                    
                                      <!--Grupo S-->
                                      <xs:element name="COFINS" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:choice>
                                            <xs:element name="COFINSAliq" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vBC" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="pCOFINS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1}[.]{1}[0-9]{4}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vCOFINS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="COFINSQtde" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="qBCProd" minOccurs="1" maxOccurs="1" >
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,12}[.]{1}[0-9]{4}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vAliqProd" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,11}[.]{1}[0-9]{4}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="vCOFINS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="COFINSNT" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="COFINSSN" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1" >
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="COFINSOutr" minOccurs="1" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="CST" minOccurs="1" maxOccurs="1" >
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:choice minOccurs="1" maxOccurs="1">
                                                    <xs:choice minOccurs="2" maxOccurs="2">
                                                      <xs:element name="vBC" minOccurs="0" maxOccurs="1">
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                          </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="pCOFINS" minOccurs="0" maxOccurs="1">
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1}[.]{1}[0-9]{4}"/>
                                                          </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                    </xs:choice>
                                                    <xs:choice minOccurs="2" maxOccurs="2">
                                                      <xs:element name="qBCProd" minOccurs="0" maxOccurs="1">
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1,12}[.]{1}[0-9]{4}"/>
                                                          </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                      <xs:element name="vAliqProd" minOccurs="0" maxOccurs="1">
                                                        <xs:simpleType>
                                                          <xs:restriction base="xs:string">
                                                            <xs:pattern value="\d{1,11}[.]{1}[0-9]{4}"/>
                                                          </xs:restriction>
                                                        </xs:simpleType>
                                                      </xs:element>
                                                    </xs:choice>
                                                  </xs:choice>
                                                  <xs:element name="vCOFINS" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                      <!--Grupo T-->
                                      <xs:element name="COFINSST" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:choice minOccurs="1" maxOccurs="1">
                                              <xs:choice minOccurs="2" maxOccurs="2">
                                                <xs:element name="vBC" minOccurs="0" maxOccurs="1">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="pCOFINS" minOccurs="0" maxOccurs="1">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1}[.]{1}[0-9]{4}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                              </xs:choice>
                                              <xs:choice minOccurs="2" maxOccurs="2">
                                                <xs:element name="qBCProd" minOccurs="0" maxOccurs="1">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1,12}[.]{1}[0-9]{4}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="vAliqProd" minOccurs="0" maxOccurs="1">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:pattern value="\d{1,11}[.]{1}[0-9]{4}"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                              </xs:choice>
                                            </xs:choice>
                                            <xs:element name="vCOFINS" minOccurs="1" maxOccurs="1">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <!--Grupo V-->
                                <xs:element name="infAdProd" minOccurs="0" maxOccurs="1" >
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="500"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="nItem" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="\d{1,3}"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <!--Grupo W-->
                          <xs:element name="total" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ICMSTot" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="vICMS" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vProd" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vDesc" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vPIS" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vCOFINS" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vPISST" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vCOFINSST" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vOutro" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="vCFe" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ISSQNtot" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="vBC" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vISS" minOccurs="1" maxOccurs="1" >
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vPIS" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vCOFINS" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vPISST" minOccurs="1" maxOccurs="1" >
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vCOFINSST" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DescAcrEntr" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:choice>
                                      <xs:element name="vDescSubtot" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vAcresSubtot" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:choice>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="vCFeLei12741" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!--Grupo WA-->
                          <xs:element name="pgto" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MP" minOccurs="1" maxOccurs="10">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cMP" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="vMP" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="cAdmC" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:pattern value="\d{3}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="vTroco" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\d{1,13}[.]{1}[0-9]{2}"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <!--Grupo Z-->
                          <xs:element name="infAdic" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="infCpl" minOccurs="0" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="5000" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="obsFisco" minOccurs="0" maxOccurs="10">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="xTexto" minOccurs="1" maxOccurs="1">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="xCampo" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="20"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="versao" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d{1,2}[.]{1}[0-9]{2}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="versaoDadosEnt" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d{1,2}[.]{1}[0-9]{2}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="versaoSB" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="\d{6}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Id" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="47"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <!-- Signature -->
                    <xs:any namespace='http://www.w3.org/2000/09/xmldsig#'
                     minOccurs='1' maxOccurs='1'
                     processContents='lax'/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
<!--            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nSeg" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="344"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dhEnvio" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\d{14}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nserieSAT" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\d{9}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="versao" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{1,2}[.]{1}[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element> -->
</xs:schema>
