Exemplos/ACBrDFe/Schemas/NFSe/Tecnos/2.01/GeracaoNFSe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
           attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
  schemaLocation="xmldsig-core-schema20020212.xsd" />
  <xs:element name="GerarNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rps">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tcDeclaracaoPrestacaoServico">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InfDeclaracaoPrestacaoServico">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Rps">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IdentificacaoRps">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Numero" type="xs:unsignedInt" />
                                      <xs:element name="Serie" type="xs:string" />
                                      <xs:element name="Tipo" type="xs:unsignedByte" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DataEmissao" type="xs:dateTime" />
                                <xs:element name="Status" type="xs:unsignedByte" />
                                <xs:element name="RpsSubstituido" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Numero" />
                                      <xs:element name="Serie" />
                                      <xs:element name="Tipo" type="xs:unsignedByte" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Competencia" type="xs:dateTime" />
                          <xs:element name="Servico">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tcDadosServico">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Valores">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="BaseCalculoCRS" type="xs:decimal" />
                                            <xs:element name="IrrfIndenizacao" type="xs:decimal" />
                                            <xs:element name="ValorServicos" type="xs:decimal" />
                                            <xs:element name="ValorDeducoes" type="xs:decimal" />
                                            <xs:element name="ValorPis" type="xs:decimal" />
                                            <xs:element name="ValorCofins" type="xs:decimal" />
                                            <xs:element name="ValorInss" type="xs:decimal" />
                                            <xs:element name="ValorIr" type="xs:decimal" />
                                            <xs:element name="ValorCsll" type="xs:decimal" />
                                            <xs:element name="OutrasRetencoes" type="xs:decimal" />
                                            <xs:element name="ValorIss" type="xs:decimal" />
                                            <xs:element name="Aliquota" type="xs:decimal" />
                                            <xs:element name="DescontoIncondicionado" type="xs:decimal" />
                                            <xs:element name="DescontoCondicionado" type="xs:decimal" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="IssRetido" type="xs:unsignedByte" />
                                      <xs:element name="ResponsavelRetencao" type="xs:unsignedByte" />
                                      <xs:element name="ItemListaServico" type="xs:decimal" />
                                      <xs:element name="CodigoCnae" type="xs:unsignedLong" />
                                      <xs:element name="CodigoTributacaoMunicipio" type="xs:unsignedLong" />
                                      <xs:element name="Discriminacao" type="xs:string" />
                                      <xs:element name="CodigoMunicipio" type="xs:unsignedLong" />
                                      <xs:element name="CodigoPais" type="xs:unsignedShort" />
                                      <xs:element name="ExigibilidadeISS" type="xs:unsignedByte" />
                                      <xs:element name="MunicipioIncidencia" type="xs:unsignedLong" />
                                      <xs:element name="NumeroProcesso" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Prestador">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CpfCnpj">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Cnpj" type="xs:unsignedLong" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="RazaoSocial" type="xs:string" />
                                <xs:element name="InscricaoMunicipal" type="xs:unsignedLong" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Tomador">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IdentificacaoTomador">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CpfCnpj">
                                        <xs:complexType>
                                          <xs:choice>
                                            <xs:element name="Cpf" type="xs:unsignedLong" minOccurs="1"
                                              maxOccurs="1" />
                                            <xs:element name="Cnpj" type="xs:unsignedLong" minOccurs="1"
                                              maxOccurs="1" />
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="InscricaoMunicipal" type="xsd:string" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="RazaoSocial" type="xs:string" />
                                <xs:element name="Endereco">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Endereco" type="xs:string" />
                                      <xs:element name="Numero" type="xs:unsignedInt" />
                                      <xs:element name="Complemento" type="xsd:string" minOccurs="0" maxOccurs="1" />
                                      <xs:element name="Bairro" type="xs:string" />
                                      <xs:element name="CodigoMunicipio" type="xs:unsignedLong" />
                                      <xs:element name="Uf" type="xs:string" />
                                      <xs:element name="CodigoPais" type="xs:unsignedShort" />
                                      <xs:element name="Cep" type="xs:unsignedLong" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Contato" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Telefone" type="xsd:string" minOccurs="0" maxOccurs="1" />
                                      <xs:element name="Email" type="xsd:string" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Intermediario" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IdentificacaoIntermediario" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CpfCnpj">
                                        <xs:complexType>
                                          <xs:choice>
                                            <xs:element name="Cpf" type="xs:unsignedLong" minOccurs="0"
                                              maxOccurs="1" />
                                            <xs:element name="Cnpj" type="xs:unsignedLong" minOccurs="0"
                                              maxOccurs="1" />
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="InscricaoMunicipal" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="RazaoSocial" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ConstrucaoCivil" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CodigoObra" />
                                <xs:element name="Art" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RegimeEspecialTributacao" type="xs:unsignedByte" />
                          <xs:element name="NaturezaOperacao" type="xs:unsignedByte" />
                          <xs:element name="OptanteSimplesNacional" type="xs:unsignedByte" />
                          <xs:element name="IncentivoFiscal" type="xs:unsignedByte" />
                          <xs:element name="PercentualCargaTributaria" type="xs:decimal" />
                          <xs:element name="ValorCargaTributaria" type="xs:decimal" />
                          <xs:element name="PercentualCargaTributariaMunicipal" type="xs:decimal" />
                          <xs:element name="ValorCargaTributariaMunicipal" type="xs:decimal" />
                          <xs:element name="PercentualCargaTributariaEstadual" type="xs:decimal" />
                          <xs:element name="ValorCargaTributariaEstadual" type="xs:decimal" />
                          <xs:element name="OutrasInformacoes" />
                          <xs:element name="TipoNota" type="xs:unsignedByte" />
                          <xs:element name="SiglaUF" type="xs:string" />
                          <xs:element name="IdCidade" type="xs:unsignedLong" />
                          <xs:element name="EspecieDocumento" type="xs:unsignedByte" />
                          <xs:element name="SerieTalonario" type="xs:unsignedByte" />
                          <xs:element name="FormaPagamento" type="xs:unsignedByte" />
                          <xs:element name="NumeroParcelas" type="xs:unsignedByte" />
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>