Exemplos/ACBrDFe/Schemas/NFSe/WebISS/1.00/servico_consultar_nfse_rps_envio.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.abrasf.org.br/nfse" targetNamespace="http://www.abrasf.org.br/nfse" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="tipos_complexos.xsd"/>
	<xsd:element name="ConsultarNfseRpsEnvio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificacaoRps" type="tcIdentificacaoRps"/>
				<xsd:element name="Prestador" type="tcIdentificacaoPrestador"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
