Exemplos/ACBrDFe/Schemas/NFSe/GeisWeb/1.00/retorno_cancela_nfse_erro.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelaNfseResposta">
    <xs:complexType>
      <xs:sequence>
	  <xs:element name="Msg">
	   <xs:complexType>
            <xs:sequence>
        <xs:element type="xs:int" name="Erro"/>
        <xs:element type="xs:string" name="Status"/>
		 </xs:sequence>
		 </xs:complexType>
		 </xs:element>
		  </xs:sequence>
		  </xs:complexType>
		   </xs:element>
</xs:schema>