Exemplos/ACBrDFe/ACBrNFSe/Schemas/GeisWeb/consulta_lote_rps.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultaLoteRps">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CnpjCpf"/>
        <xs:element name="Consulta">
          <xs:complexType>
            <xs:sequence>
               <xs:element type="xs:string" name="CnpjCpfPrestador"/>
              <xs:element type="xs:string" name="NumeroLote"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>