Exemplos/ACBrDFe/ACBrNFSe/Delphi/Schemas/WebISS/servico_consultar_situacao_lote_rps_resposta.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.abrasf.org.br/nfse" targetNamespace="http://www.abrasf.org.br/nfse" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="tipos_complexos.xsd"/>
	<xsd:element name="ConsultarSituacaoLoteRpsResposta">
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="NumeroLote" type="tsNumeroLote" minOccurs="0"/>
					<xsd:element name="Situacao" type="tsSituacaoLoteRps"/>
				</xsd:sequence>
				<xsd:element ref="ListaMensagemRetorno"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
