Exemplos/ACBrDFe/ACBrNFSe/Schemas/Tecnos/CancelarNfseEnvio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelarNfseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pedido">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="InfPedidoCancelamento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IdentificacaoNfse">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Numero" type="xs:unsignedShort" />
                          <xs:element name="CpfCnpj">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cnpj" type="xs:unsignedLong" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="InscricaoMunicipal" type="xs:unsignedShort" />
                          <xs:element name="CodigoMunicipio" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CodigoCancelamento" type="xs:unsignedByte" />
                    <xs:element name="MotivoCancelamento" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Signature">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SignedInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CanonicalizationMethod">
                            <xs:complexType>
                              <xs:attribute name="Algorithm" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SignatureMethod">
                            <xs:complexType>
                              <xs:attribute name="Algorithm" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Reference">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Transforms">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Transform">
                                        <xs:complexType>
                                          <xs:attribute name="Algorithm" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DigestMethod">
                                  <xs:complexType>
                                    <xs:attribute name="Algorithm" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DigestValue" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="URI" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SignatureValue" type="xs:string" />
                    <xs:element name="KeyInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="X509Data">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="X509Certificate" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>