Exemplos/ACBrDFe/ACBrNFSe/Schemas/Tecnos/ConsultarSequenciaLoteNotaRPSEnvio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarSequenciaLoteNotaRPSEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CpfCnpj">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Cnpj" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RazaoSocial" type="xs:string" />
              <xs:element name="InscricaoMunicipal" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>