Exemplos/ACBrDFe/ACBrNFSe/Schemas/Tecnos/ConsultarNfseFaixaEnvio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abrasf.org.br/nfse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarNfseFaixaEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Prestador">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CpfCnpj">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Cpf" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="InscricaoMunicipal" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Faixa">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NumeroNfseInicial" type="xs:unsignedByte" />
              <xs:element name="NumeroNfseFinal" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Pagina" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>