Exemplos/ACBrDFe/Schemas/NFSe/SmarAPD/1.00/WSSaidaNfd.xsd

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-.  -->
<xs:schema xmlns:tns="http://webservices.sil.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.sil.com/">
  <xs:element name="nfdSaida" type="tns:nfdSaida"/>
  <xs:element name="nfdSaidaResponse" type="tns:nfdSaidaResponse"/>
  <xs:complexType name="nfdSaida">
    <xs:sequence>
      <xs:element name="cpfUsuario" type="xs:string" minOccurs="0"/>
      <xs:element name="hashSenha" type="xs:string" minOccurs="0"/>
      <xs:element name="inscricaoMunicipal" type="xs:string" minOccurs="0"/>
      <xs:element name="recibo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nfdSaidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>